@model GISRZ.Models.security

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>security</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disabled_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disabled_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disabled_user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disabled_user_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.page_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
